@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Recursive:wght@400;600;800&family=Roboto:ital,wght@0,700;1,400&family=Work+Sans:ital,wght@1,300&display=swap');

:root{
    --black:#333;
    --light-color:#cdaa7c;
    --box-shadow: 0.5rem 1.5rem rgba(0,0,0,0.1);
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Navbar style start */
header{
    /* position: fixed; */
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: var(--black);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 10000;
}

header .navbar a{
    font-size: 1.7rem;
    padding: 0.5rem;
    color: var(--light-color);
    border: 1rem solid transparent;
}

header .navbar a.active, header .navbar a:hover{
    color: #fff;
    border: 0.1rem solid rgba(205,170, 124, 0.2);
}

header .icons i{
    cursor: pointer;
    margin-left: 0.5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    background: var(--light-color);
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
}

header .icons i:hover{
    /* color: #fff;
    background-color: var(--light-color); */
    transform: rotate(45deg);
}

header .icons #home{
    display: none;
}
/* Navbar style end */

/* Slider style start */
.home .home-slider .slide{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
}
.home .home-slider .slide1{
    background: url(https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
}
.home .home-slider .slide2{
    background: url(https://images.unsplash.com/photo-1496116218417-1a781b1c416c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
}
.home .home-slider .slide3{
    background: url(https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
}
.home .home-slider .slide4{
    background: url(https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
}
.home .home-slider .slide1,.home .home-slider .slide2,.home .home-slider .slide3,.home .home-slider .slide4{
    background-size: cover;
    background-repeat: no-repeat;
}
.home .home-slider .slide .content{
    text-align: center;
    padding-left: 9rem;
}
.home .home-slider .slide .content h3{
    color: var(--light-color);
    font-size: 3rem;
    font-weight: 300;
}
.home .home-slider .slide .content h1{
    color: #fff;
    font-size: 8rem;
}
.home .home-slider .slide .content p{
    color: #819ced;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 0.5rem 0;
    line-height: 1.5rem;
    font-weight: 200;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    border: 0.2rem solid rgba(205,170, 124, 0.2);
    background:transparent;
    cursor: pointer;
    padding: 0.8rem 3rem;
    position: relative;
    overflow: hidden;

}
.btn:hover{
    background-color: #cdaa7c;
}

/* Slider style end */

/* Welcome Style start */
section{
    padding: 8rem 9%;
}

.heading{
    text-align: center;
    color: var(--black);
    font-size: 4.5rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.3;
}

.sub-heading{
    text-align: center;
    color: var(--light-color);
    font-size: 2.5rem;
    padding: 0.5rem 2rem;
    font-weight: 300;
    margin-bottom: 4rem;
    background: var(--black);
    display: inline-block;
}

.welcome .box-container{
    display: flex;
    gap: 1.5rem;

}
.welcome .box-container .box{
    width: 33%;
    background: var(--black);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding-bottom: 1%;
}
.welcome .box-container .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.welcome .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.welcome .box-container .box .image:hover img{
    transform: scale(1.1);
}
.welcome .box-container .box .content{
    padding: 2rem;
    padding-top: 2rem;
}

.welcome .box-container .box .content h3{
    color: var(--light-color);
    font-size: 2.2rem;
    font-weight: 400;
}
.welcome .box-container .box .content p{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0.5rem 0;
    line-height: 1.5;
}


/* Welcome Style end */



/* media query */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    header .logo img{
        height: 5rem;
        width: 5rem;
    }
}

@media (max-width:768px){
    /* navbar media query */
    header .logo img{
        height: 5rem;
        width: 5rem;
    }

    header .icons #menu{
         display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background: #eee;
        border-top: 0.1rem solid rgba(205,170, 124, 0.2);
        border-bottom: 0.1rem solid rgba(205,170, 124, 0.2);
        padding: 1rem;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }
    header .navbar .active{
        clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);

    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background-color: var(--black);
    }

    
}