/* Navbar Codes */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    background-color: rgb(170, 223, 223);
    overflow-x: hidden;
}

.header{
    padding: 2px 20px 0px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}
.header img{
    height:60px;
    width: 60px;
}
.nav-list{
    display: flex;
    gap: 2em;
    list-style: none;
}

.navbar-link:link, .navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:dimgray;
}

/* Slide show codes */
.slide-show{
    margin: 15px;
    display: flex;
    justify-content: center;
}

.slide-container{
    width: 78vh;
    height: 52vh;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(0%,0%);
    border: 10px solid white;
    border-radius: 10px;
    overflow: hidden;
}

.img-slide{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
.img-slide img{
    width: 100%;
    height:100%;
}

@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(0%);
    }
    30%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-100%);
    }
    60%{
        transform: translateX(-200%);
    }
    85%{
        transform: translateX(-300%);
    }
    90%{
        transform: translateX(-400%);
    }
    115%{
        transform: translateX(-400%);
    }
    
}

/* Cards codes */

.cards-section{
    background-color: rgb(195, 249, 231);
}

.cards-container{
    /* width: 1170px; */
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.cards{
    border: 1px solid black;
    flex-basis: 23%;
    background-color: rgb(224, 240, 253);
    border-radius: 5px;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px 3px lightgrey;
}

.cards:hover{
    background-color:rgb(245, 240, 240) ;
}
.cards img{
    width: 265px;
    height: 200px;
    margin: 4px 4px 4px 4px;
    border-radius: 5px;
}
.cards h3{
    padding: 10px 5px;
}

.cards p{
    padding: 4px 5px;
    font-size: 14px;
}

.cards button{
    border:none;
    color: aliceblue;
    background-color: blue;
    border-radius: 4px;
    padding: 5px;
    margin:10px;
}

.cards button:hover{
    background-color: rgb(119, 119, 241);
}
/* Footer Codes */

footer{
    background-color: rgb(43, 42, 42);
}
.footer-container{
    width:100%;
    padding: 20px 30px 20px;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.social-media a{
    text-decoration: none;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 40%;
}

.footerNav{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1em;
}

.footer-bottom{
    color: aliceblue;
}
.footer-bottom p{
    font-size: 15px;
    display: flex;
    padding: 20px 0px 10px;
    justify-content: center;
}

.footer-bottom span{
    font-family: cursive;
 }
 
 /* @media only screen and (min-width:200px ) and (max-width:767px) {
    
    .container{
        width: 100%;
        flex-direction: column;
    }
} */